.vector_cache/
.vscode/
.data/

nlp-lab-2/code/__pycache__/

nlp-lab-3/.idea/
nlp-lab-3/code/__pycache__/
nlp-lab-3/dataset/
nlp-lab-3/example/data

nlp-lab-4/code/__pycache__/
nlp-lab-4/result/model.pt